/*#photo1{
   
    margin: 0px;
}*/
.conteneur_photo{
    display: flex;
     width:240px; 
     height: 140px;
    border: 10px solid black; 
  /*  transform: scale(0.3125,0.36) ;*/
       }
   .cardhotel{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black; 
   
   }
   .description{
    display: flex;
margin-right: 30px;
        width: 80px;
   
   }
.gran_div{
    display: flex;
    flex-wrap: wrap;
    font: Raleway;
}
body
{
    display: flex
}