main{
    width:992px;
    box-sizing: content-box;
}
#titre_principal{
    display:flex;
  
}
header{
    display:flex;
    align-content: flex-end;
   
}
#logo_booki{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex:3;
   
}
ul{
    list-style-type: none;
}
li a{
    text-decoration-line: none;
  
}
/*navigation*/
nav ul{
    display:flex;
  }

nav li {
   
    margin-right: 15px;
}
nav a{ 
    padding-top: 12px;
    color:black;
}
nav a:hover{ 
        border-top: 1px solid #0065fc;
        color:#0065fc;
}
/*Research*/
#form-submit-bouton{
background-color:#0065fc;
}
section{
    display:flex;
    flex-wrap: wrap;
   }
article{ 
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
   }
#horizontale{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
}
#horizontale2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

#photo1 img{
    width:140px;
    height:180px;
    border-radius:10px;
    margin:0px;
}

#photo2 img{
    width:140px;
    height:180px;
    border-radius:10px;
}
#photo3 img{
    width:140px;
    height:180px;
    border-radius:10px;
}
#photo4 img{
    width:140px;
    height:180px;
    border-radius:10px;
}
#photo5 img{
    width:140px;
    height:180px;
    border-radius:10px;
}
#photo6 img{
    width:140px;
    height:180px;
    border-radius:10px;
}
/* Les plus populaire*/
.imageflottante{
    float:left;
}
#photopop1 img{
    width:140px;
    height:140px;
    border-radius:10px;
}

#photopop2 img{
    width:140px;
    height:140px;
    border-radius:10px;
}
#photopop3 img{
    width:140px;
    height:140px;
    border-radius:10px;
}
#div_activites{
    background-color: #f2f2f2;
}
#activite1 img{
    width:180px;
    height:300px;
    border-radius:10px;
}
#activite2 img{
    width:80px;
    height:100px;
    border-radius:10px;
   }
#activite3 img{
    width:80px;
    height:100px;
    border-radius:10px;
  }
#activite4 img{
    width:180px;
    height:300px;
    border-radius:10px;
   }
#activite5 img{
    width:80px;
    height:100px;
    border-radius:10px;
  }
#activite6 img{
    width:80px;
    height:100px;
    border-radius:10px;
 }
 #div_sec{
    display:flex;
    flex-wrap: wrap;
}
aside{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius:10px;
    margin-left:3px ;
    
 }
/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
  }
  footer a{ 
       color:black;
}
footer ul{ 
    text-align: left;
}