main{
    width:auto;
    box-sizing: content-box;
}
#titre_principal{
    display:flex;
  
}
header{
    display:flex;
    align-content: flex-end;
   
}
#logo_booki{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex:3;
   
}
ul{
    list-style-type: none;
}
li a{
    text-decoration-line: none;
  
}
/*navigation*/
nav ul{
    display:flex;
  }

nav li {
   
    margin-right: 15px;
}
nav a{ 
    padding-top: 12px;
    color:black;
}
nav a:hover{ 
        border-top: 1px solid #0065fc;
        color:#0065fc;
}
/*Research*/
#form-submit-bouton{
background-color:#0065fc;
}
section{
    display:flex;
    flex-wrap: wrap;
    padding: 10px ;
}
article{ 
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: space-around;
    justify-content: space-around;
    border-radius: 10px;
    flex:3;
}
.horizontale{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
}

#photo1 img{
    width:240px;
    height:240px;
    border-radius:10px;
    margin:0px;
}

#photo2 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
#photo3 img{
    width:240px;
    height:240px;
    border-radius:10px;
}#photo4 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
#photo5 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
#photo6 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
/* Les plus populaire*/
.imageflottante{
    float:left;
}
#photopop1 img{
    width:240px;
    height:240px;
    border-radius:10px;
}

#photopop2 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
#photopop3 img{
    width:240px;
    height:240px;
    border-radius:10px;
}
#activite1 img{
    width:240px;
    height:468px;
    border-radius:10px;
}
#div_activites{
    background-color: #f2f2f2;
}
#div_sec{
    display:flex;
    flex-wrap: wrap;
}
#activite2 img{
    width:240px;
    height:190px;
    border-radius:10px;
   }
#activite3 img{
    width:240px;
    height:190px;
    border-radius:10px;
  }
#activite4 img{
    width:240px;
    height:468px;
    border-radius:10px;
   }
#activite5 img{
    width:240px;
    height:190px;
    border-radius:10px;
  }
#activite6 img{
    width:240px;
    height:190px;
    border-radius:10px;
 }
aside{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1.2;
    background-color: #f2f2f2;
    padding:10px;
    border-radius:10px;
    
 }
/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
  }
  footer a{ 
       color:black;
}
footer ul{ 
    text-align: left;
}