* { 
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.titres{
  display: flex;
 background-color: #F2F2F2;
 justify-content: space-between;

}
.hotel img{
  width: 100%;
  height: 198px;
}
.populaire img{
  width: 100%;
  height: 390px;

}
.div_1_activite img{
width: 100%;
height: 390px;
}
.div_2_activite img{
  width: 100%;
height: 198px;
} 
#div_hebergement{
  display: -webkit-flex;
  display: flex;
  flex: 1;
   width: 70%;
 }
.div_populaire{
   display: flex;
   flex-direction: column;
    width: 20%;
    flex: 0.5;
   }
#div_activites{
  display: flex;

}
#section_hebergement{
  display: flex;
}
.column{
  display: flex;
  flex-direction: column;
}