body{
    width:auto;
    display:flex;
    flex-direction: column;
flex-wrap: wrap;

}

header{
    display:flex;
    flex-wrap: wrap;
    
}
#titre_principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#titre_hebergement{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}
#logo_booki{
    margin-left: 0px;
    display: flex;
   flex-wrap: wraps;
   flex:3;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration-line: none;
}
/*navigation*/
#div_nav{
    margin-right: 2px;
}
nav ul{
    display:flex;
    margin-right: 10px;
  }
nav li {
     margin-right: 15px;
}
nav a{ 
    padding-top: 12px;
    color:black;
}
nav a:hover{ 
        border-top: 1px solid #0065fc;
        color:#0065fc;
}
/*Research*/
#section_search{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
#form-submit-bouton{
background-color:#0065fc;
}
#filtres{
    display:flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;  
}
#titre_filtres{
    display:flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px; 
}
#economique{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px; 
}
#familial{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px; 
}
#romantique{
    display: flex;
    flex-wrap: wrap;
     margin: 10px 10px 10px 10px; 
}
#animaux_autorises{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px; 
}
#information{
    display: flex;
    flex-wrap: wrap;
  }
  #info{
    margin: 10px 10px 10px 10px;    
  }
#photo_money, #photo_child, #photo_heart, #photo_dog {
    width:20px;
    height:20px;
    background-color: #DEEBFF;  
    border-radius:40px;
    padding:10px;   
}
#section_hebergement{
    display:flex;
    flex-wrap:wrap;
      margin:10px;
}
#photo img{
    width:200px;
    height:80px;
   /* border-radius:40px;*/
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   }
#hotel{
    background-color:white;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
    border-radius: 10px;
    margin:6px;
    padding:10px;
   }
/*Les populaires*/
#photopop img{
    width:140px;
    height:80px;
    /* border-radius:40px;*/
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#div_pop1, #div_pop2, #div_pop3 {
    background-color: white;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
    border-radius: 10px;
    margin:2px;
   }
/*les activites à Marseille*/
#activite1 img, #activite4 img{
    width:240px;
    height:260px;
   /* border-radius:40px;*/
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
  
}
#activite2 img, #activite3 img, #activite5 img, #activite6 img{
    width:140px;
    height:80px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
       }
#div_1_activite {
    display: flex;
    flex-wrap:wrap;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
    border-radius: 10px;
    margin:2px;
}
#div_2_activites {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
}
#div_activite2, #div_activite3, #div_activite5, #div_activite6 {
    background-color: white;
    box-shadow: 2px 2px 2px rgb(185, 183, 183);
    border-radius: 10px;
    margin:2px;
}
section{
    display:flex;
    flex-wrap:wrap;
   }
  #section_activites{
      display:flex;
      flex-wrap:wrap;
       margin:10px;
     }
#div_activites{
    width:100%;
       display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
        }
#div_hebergement{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
      width:70%;
      background-color: #f2f2f2;
      border-radius: 40px;
}
#column1{
    display:flex;
    flex-wrap: wrap;
      flex-direction: column;
}
#column2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#column3{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#div_populaire
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15px;
    background-color: #f2f2f2;
    border-radius: 40px;
    width: 25%;
      }
 #div_pop1, #div_pop2, #div_pop3 {
display: flex;
flex-wrap: wrap;
      }
p{
    font-size: x-small;
}
/*mettre en gras les noms des hotels les plus populaires*/ 
p em{
    font-weight: bold ;
}
/*Footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
   background-color: #f2f2f2;
   margin:2px;
  }
  footer a{ 
       color:black;
}
footer ul{ 
    text-align: left;
}
/*screen smartphone*/
/*
@media screen and (max-width: 768px)
{ 
    main{
         background-color: blue;
        width: auto;
    }
#populaire
{display:none;
}


} */
/*screen ordinateur et tablet*/ 
/*
@media screen and (max-width: 992px &mind-width:768px)
{
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: baseline;
    background-color: pink;
}*/
