main{
    width:auto;
    box-sizing: content-box;
}



#logo_booki{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex:3;
   
}
ul{
    list-style-type: none;
}
li a{
    text-decoration-line: none;
  
}
/*navigation*/
nav ul{
    display:flex;
  }

nav li {
   
    margin-right: 15px;
}
nav a{ 
    padding-top: 12px;
    color:black;
}
nav a:hover{ 
        border-top: 1px solid #0065fc;
        color:#0065fc;
}
/*Research*/
#form-submit-bouton{
background-color:#0065fc;

}
#photo img{
    width:140px;
    height:140px;
    border-radius:10px;
   }
/*Les populaires*/
#photopop img{
    width:140px;
    height:140px;
    border-radius:10px;
}
/* Les plus populaire*/
.imageflottante{
    float:left;
}
/*les activites à Marseille*/
#activite img{
    width:140px;
    height:200px;
    border-radius:10px;
}
#activite2 img{
    width:70px;
    height:70px;
    border-radius:10px;
}
#div_2_activites img{
    display: flex;
    flex-direction: column;
}

header{
    display:flex;
    min-width:100%;
   
}
section{
    display:flex;
    flex-wrap:wrap;
   
   
    
  }
#article_activites{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 10px;
     border-radius: 10px;
     flex:2;
}
#article_hebergement{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-direction: column;
     width:60%;
   background-color: #f2f2f2;
   border-radius: 10px;
}
#ligne1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ligne2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
aside{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
   width:30%;
    margin-left: 25px;
    background-color: #f2f2f2;
    border-radius: 10px;
      }
p{
    font-size: 0.8 em;
}

 

/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
  }
  footer a{ 
       color:black;
}
footer ul{ 
    text-align: left;
}
/*screen smartphone*/
/*
@media screen and (max-width: 768px)
{ 
    main{
         background-color: blue;
        width: auto;
    }
#populaire
{display:none;
}


} */
/*screen ordinateur et tablet*/ 
/*
@media screen and (max-width: 992px &mind-width:768px)
{
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: baseline;
    background-color: pink;
}*/
